<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--Fuente de Letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f13df47a8.js" crossorigin="anonymous"></script>
    <!--link animaciones-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--Nuestro css-->
    <link rel="stylesheet" href="../css/estilo.css">
    <title>hacenos tu pedido</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark-color">
              <img src="../assets/img/loogo.jpeg" alt="logo" width="10%" class="Logo">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="propuestas.html">Propuestas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12"data-aos="zoom-out-right">
            <h1 class="fontstyle">Contactanos y hace tu pedido</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <p class="bombones">Para realizar un pedido contactarse por whatsapp con 10 dias de anticipacion y consultar el envio</p>
          </div>
          <a href="https://api.whatsapp.com/send?phone=5491161811022&text=Hola,%20quisiera%20realizar%20un%20pedido!"target="_blank"><i class="fab fa-whatsapp positionwpp" style="font-size: 4rem;"></i></a>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12"data-aos="zoom-out-right">
            <h1 class="fontstyle">Donde nos encontramos</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12"data-aos="fade-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.627595041065!2d-58.41770058423339!3d-34.73978027221817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd78ef693281%3A0x81cc974030ae72f4!2sDomingo%20French%201455%2C%20B1828HLE%20Banfield%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1627358039775!5m2!1ses-419!2sar"  style="border:0;" allowfullscreen="" loading="lazy" class="ubiFlex paddingRB"></iframe>
          </div>
        </div>
      </div>
      <br>
      <div class="container-fluid">
        <footer class=" Row footerbg paddingTB">
          <div class="col-lg-4 col-xs-12">
            <img src="../assets/img/loogo.jpeg" alt="logo" width="35%" class="imgFoot">
          </div>
          <div class="col-lg-4 col-xs-12">
            <h3 class="txtFooter positionText">Sitio web creado por Fusari Matias</h3>
          </div>
          <div class="col-lg-4 col-xs-12 positionRedes">
            <h3 class="txtFooter">Nuestras Redes</h3>
            <a href="https://www.instagram.com/dulces_chips/?hl=es" target="_blank"><i class="fab fa-instagram" style="font-size: 2rem;"></i></a>
            <a href="https://www.facebook.com/dulces.chip" target="_blank"><i class="fab fa-facebook" style="font-size: 2rem;"></i></a>
          </div>
        </footer>
      </div>
    
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>  
      <!--animaciones-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>    
</body>
</html>