<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--Fuente de Letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f13df47a8.js" crossorigin="anonymous"></script>
    <!--link animaciones-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--Nuestro css-->
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Productos</title>
  </head>
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark-color">
              <a href="../index.html"><img src="../assets/img/loogo.jpeg" alt="logo" width="30%" class="Logo"></a>
              <button class="navbar-toggler positionNav" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="productos.html">Productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="propuestas.html">Propuestas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12">
            <h1 class="fontstyle">Nuestros Productos</h1>
          </div>
        </div>
      </div>
      <div class="container tablaProd">
        <div class="row">
          <div class="col-lg-12 col-xs-12"data-aos="fade-up"
          data-aos-duration="3000">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Tortas</li>
              <li class="list-group-item">Tartas</li>
              <li class="list-group-item">Bombones</li>
              <li class="list-group-item">Panes</li>
              <li class="list-group-item">Postres</li>
              <li class="list-group-item">Shots</li>
              <li class="list-group-item">Muffins</li>
              <li class="list-group-item">Masa Seca</li>
              <li class="list-group-item">Pastelitos</li>
              <li class="list-group-item">Alfajores</li>
              <li class="list-group-item">Huevos de Pascuas</li>
              <li class="list-group-item">Pan Dulce</li>
              <li class="list-group-item">Merenguitos</li>
              <li class="list-group-item">Budines</li>
              <li class="list-group-item">Roscas</li>
              <li class="list-group-item">Brownie</li>
              <li class="list-group-item">Marquise</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12"data-aos="zoom-out-right">
            <h2 class="fontstyle">Nuestras Tortas</h2>
          </div>
        </div>
      </div>
      <div class="container-fluid paddingTB">
        <div class="row">
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/tortaazul.jpg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text"> Torta personalizada</h3>
                <h4 class="card-text"> $1200(el kilo)</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/torta3.jpg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Letter cake</h3>
                <h4 class="card-text"> $900</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/torta4.jpg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text"> Torta personalizada</h3>
                <h4 class="card-text">$1200(el kilo)</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/torta5.jpg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Number cake</h3>
                <h4 class="card-text"> $900</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/torta9.jpg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Torta personalizada</h3>
                <h4 class="card-text">$1200(el kilo)</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/torta11.jpg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Torta con golosinas</h3>
                <h4 class="card-text">$1100</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/torta8.jpg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Torta con golosinas</h3>
                <h4 class="card-text">$1100</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/torta12.jpg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Torta con golosinas</h3>
                <h4 class="card-text">$1100</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/torta15.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Torta personalizada</h3>
                <h4 class="card-text">$1200(el kilo)</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12"data-aos="zoom-out-right">
            <h1 class="fontstyle">Nuestras Tartas</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid paddingTB">
        <div class="row">
          
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/tarta2.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Lemon pie</h3>
                <h4 class="card-text">$650</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/tarta3.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Pastafrola</h3>
                <h4 class="card-text">$350</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/tarta4.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Tarta de dulce de leche y chocolate</h3>
                <h4 class="card-text">$400</h4>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/tarta6.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text"> Tarta de ricota</h3>
                <h4 class="card-text"> $400</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12"data-aos="zoom-out-right">
            <h1 class="fontstyle">Nuestros Bombones</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12">
            <h6 class="bombones">El kilo $1000</h6>
            <h6 class="bombones">El medio kilo $500</h6>
            <h6 class="bombones">El cuarto $200</h6>
          </div>
        </div>
      </div>
      <div class="container-fluid paddingTB">
        <div class="row">
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/bombon1.jpeg" class="card-img-top" alt="torta">
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/bombon2.jpeg" class="card-img-top" alt="torta">
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/bombon3.jpeg" class="card-img-top" alt="torta">
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/bombon4.jpeg" class="card-img-top" alt="torta">
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/bombon5.jpeg" class="card-img-top" alt="torta">
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/bombon6.jpeg" class="card-img-top" alt="torta">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12"data-aos="zoom-out-right">
            <h1 class="fontstyle">Nuestros Panes</h1>
          </div>
        </div>
      </div>
      <div class="container-fluid paddingTB">
        <div class="row">
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/pan1.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Chipa</h3>
                <h6 class="card-text">El kilo $500</h6>
                <h6 class="card-text">El medio kilo $250</h6>
                <h6 class="card-text">El cuarto $125</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/pan2.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Chipa</h3>
                <h6 class="card-text">El kilo $500</h6>
                <h6 class="card-text">El medio kilo $250</h6>
                <h6 class="card-text">El cuarto $125</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/pan4.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Grisines saborizados</h3>
                <h6 class="card-text">El kilo $300</h6>
                <h6 class="card-text">El medio kilo $150</h6>
                <h6 class="card-text">El cuarto $75</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/pan5.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Grisines saborizados</h3>
                <h6 class="card-text">El kilo $300</h6>
                <h6 class="card-text">El medio kilo $150</h6>
                <h6 class="card-text">El cuarto $75</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/pan6.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Focaccia</h3>
                <h4 class="card-text">$500</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12"data-aos="zoom-out-right">
            <h1 class="fontstyle">Huevos de Pascuas</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12">
            <h6 class="huevos">Huevo abierto relleno a gusto de c/u puede ser con frutas,dulce de leche,chantilly,etc.</h6>
          </div>
        </div>
      </div>
      <div class="container-fluid paddingTB">
        <div class="row">
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/pascuas1.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Huevitos</h3>
                <h4 class="card-text">130 gramos $380</h4>
                <h4 class="card-text">80 gramos $300</h4>
                <h4 class="card-text">50 gramos $250</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/pascuas2.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Huevo relleno</h3>
                <h4 class="card-text">$1000</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xs-12 paddingTB cardFlex">
            <div class="card" style="width: 23rem;">
              <img src="../assets/img/pascuas3.jpeg" class="card-img-top" alt="torta">
              <div class="card-body">
                <h3 class="card-text">Huevo relleno</h3>
                <h4 class="card-text">$1000</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <footer class=" Row footerbg paddingTB">
          <div class="col-lg-4 col-xs-12">
            <img src="../assets/img/loogo.jpeg" alt="logo" width="35%" class="imgFoot">
          </div>
          <div class="col-lg-4 col-xs-12">
            <h3 class="txtFooter positionText">Sitio web creado por Fusari Matias</h3>
          </div>
          <div class="col-lg-4 col-xs-12 positionRedes">
            <h3 class="txtFooter">Nuestras Redes</h3>
            <a href="https://www.instagram.com/dulces_chips/?hl=es" target="_blank"><i class="fab fa-instagram" style="font-size: 2rem;"></i></a>
            <a href="https://www.facebook.com/dulces.chip" target="_blank"><i class="fab fa-facebook" style="font-size: 2rem;"></i></a>
          </div>
        </footer>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!--animaciones-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>      
</body>
</html>