<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!--Fuente de Letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f13df47a8.js" crossorigin="anonymous"></script>
    <!--link animaciones-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--Nuestro css-->
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Propuestas</title>
</head>
<body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-xs-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark-color">
              <a href="../index.html"><img src="../assets/img/loogo.jpeg" alt="logo" width="30%" class="Logo"></a>
              <button class="navbar-toggler positionNav" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="productos.html">Productos</a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="propuestas.html">Propuestas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12">
          <h1 class="fontstyle">Nuestras Propuestas</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row paddingTB">
          <div class="col-lg-12 col-xs-12">
            <h5 class="fontstyle">Las mejores propuestas para vos</h5>
          </div>
        </div>
      </div>
      <div class="container paddingTB">
        <div class="row">
          <div class="col-lg-12 col-xs-12" data-aos="fade-up"
          data-aos-duration="3000">
            <table class="table table-dark-color">
              <thead>
                <tr class="textTit">
                  <th scope="col">Box de Desayunos</th>
                  <th scope="col">Propuestas</th>
                  <th scope="col">Precio del Box</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="textTit">Box 1</td>
                  <td class="infoTable">
                    <li>1 Porcion De Brownie</li>
                    <li>Mini Oreo</li>
                    <li>3 Alfajores De Maceina</li>
                    <li>1 Tarta Tofi</li>
                    <li>Infusiones</li></td>
                  <td class="infoTable">$1250</td>
                </tr>
                <tr>
                  <td class="textTit">Box 2</td>
                  <td class="infoTable">
                    <li>4 Alfajores De Maicena</li>
                    <li>1 Porcion De Brownie</li>
                    <li>Minitarta a Eleccion</li>
                    <li>Mini Chocotorta</li>
                    <li>Masas Secas</li>
                    <li>Infuciones</li></td>
                  <td class="infoTable">$1500</td>
                </tr>
                <tr>
                  <td class="textTit">Box 3</td>
                  <td class="infoTable">
                    <li>Mini Torta Mousse</li>
                    <li>4 Alfajores De Maicena</li>
                    <li>3 Alfajores De Chocolate</li>
                    <li>1 Porcion De Brownie</li>
                    <li>Mini Oreo</li>
                    <li>Tarta a Eleccion</li>
                    <li>Infuciones</li></td>
                  <td class="infoTable">$2000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container paddingTB positionTable">
        <div class="row">
          <div class="col-lg-12 col-xs-12" data-aos="fade-up"
          data-aos-duration="3000">
            <table class="table table-dark-color">
              <thead>
                <tr class="textTit">
                  <th scope="col">Nuestros boxs</th>
                  <th scope="col">Propuestas</th>
                  <th scope="col">Precio del Box</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="textTit">Box de cumpleaños</td>
                  <td class="infoTable">
                  Llevando una torta a eleccion de cumpleaños para 10 perosnas,mas una docena de muffins
                  <td class="infoTable">$1800</td>
                </tr>
                <tr>
                  
                  <td class="textTit">Box de torta</td>
                  <td class="infoTable">
                  3 tortas a eleccion 
                  <td class="infoTable">$2400</td>
                </tr>
                <tr>
                  <td class="textTit">Box de tarta</td>
                  <td class="infoTable">
                  3 tartas a eleccion
                  <td class="infoTable">$1900</td>
                </tr>
                <tr>
                  <td class="textTit">Box del dia del niño</td>
                  <td class="infoTable">
                  10 Galletitas para decorar con 3 mangas de colores con springles
                  <td class="infoTable">$1900</td>
                </tr>
                <tr>
                  <td class="textTit">Box del dia de los enamorados</td>
                  <td class="infoTable">
                  <li>Corazon De Chocolate Con sorpresas adentro</li>
                  <li>Oreo bañadas en Chocolate</li>
                  <li>Frases en Bombones</li>
                  <td class="infoTable">$1900</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <footer class=" Row footerbg paddingTB">
          <div class="col-lg-4 col-xs-12">
            <img src="../assets/img/loogo.jpeg" alt="logo" width="35%" class="imgFoot">
          </div>
          <div class="col-lg-4 col-xs-12">
            <h3 class="txtFooter positionText">Sitio web creado por Fusari Matias</h3>
          </div>
          <div class="col-lg-4 col-xs-12 positionRedes">
            <h3 class="txtFooter">Nuestras Redes</h3>
            <a href="https://www.instagram.com/dulces_chips/?hl=es" target="_blank"><i class="fab fa-instagram" style="font-size: 2rem;"></i></a>
            <a href="https://www.facebook.com/dulces.chip" target="_blank"><i class="fab fa-facebook" style="font-size: 2rem;"></i></a>
          </div>
        </footer>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!--animaciones-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>   
</body>
</html>